<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나만의 일기 - 로그인</title>
</head>
<body>

<section layout:fragment="content">
    <h2>로그인</h2>
    <p th:if="${error == true}" th:text="${errorMessage}"></p>
    <form action="/member/sign/in" method="post">
        <div>
            <input name="username" placeholder="아이디" type="text">
        </div>
        <div>
            <input name="password" placeholder="비밀번호" type="password">
        </div>
        <button>로그인</button>
        <button>취소</button>
    </form>
</section>

</body>
</html>