<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/anonymous_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>나만의 일기 - 로그인</title>
</head>
<body>

<section layout:fragment="content">
  <div class="form-area">
    <p class="form-title">나만의 일기</p>
    <form action="/member/sign/in" class="sign-in-form" method="post">
      <div class="input-area">
        <input name="username" placeholder="아이디" type="text">
      </div>
      <div class="input-area">
        <input name="password" placeholder="비밀번호" type="password">
      </div>
      <div class="button-area">
        <button class="submit-btn">로그인</button>
      </div>
      <ul class="link-area">
        <li>
          <a href="/member/sign/up">회원가입</a>
        </li>
        <li>
          <a href="/member/find-username">아이디 찾기</a>
        </li>
      </ul>
    </form>
  </div>
</section>

</body>
</html>

<script th:inline="javascript">
  const error = [[${error}]]
  const errorMessage = [[${errorMessage}]]
  const $signInForm = $('.sign-in-form')
  const $usernameInput = $('input[name=username]')
  const $passwordInput = $('input[name=password]')
  const $submitBtn = $('.submit-btn')

  $submitBtn.on('click', (e) => {
      e.preventDefault()
      if($usernameInput.val().length === 0) {
          alert('아이디가 입력되지 않았습니다.')
      }
      else if($passwordInput.val().length === 0) {
          alert('비밀번호가 입력되지 않았습니다.')
      }
      else {
          $signInForm.submit()
      }
  })


  if(error) {
      alert(errorMessage)
  }
</script>