<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/anonymous_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>나만의 일기 - 회원가입</title>
</head>
<body>

<section layout:fragment="content">
  <div class="form-area">
    <p class="form-title">회원가입</p>
    <form class="sign-up-form">
      <div class="input-area">
        <input name="username" placeholder="아이디" type="text">
      </div>
      <div class="input-area">
        <input name="password" placeholder="비밀번호" type="password">
      </div>
      <div class="input-area">
        <input name="passwordCheck" placeholder="비밀번호 확인" type="password"/>
      </div>
      <div class="input-area">
        <input name="name" placeholder="이름" type="text">
      </div>
      <div class="input-area">
        <input name="nickname" placeholder="닉네임" type="text">
      </div>
      <div class="input-area">
        <input name="email" placeholder="이메일(비밀번호를 찾는데 사용됩니다.)" type="text">
      </div>
      <div class="button-area">
        <button class="submit-btn">회원가입</button>
      </div>
      <ul class="line-area">
        <li>
          <a href="/member/sign/in">로그인</a>
        </li>
      </ul>
    </form>
  </div>
</section>

</body>
</html>

<script th:inline="javascript">
    const $signUpForm = $('.sign-up-form')
    const $usernameInput = $('input[name=username]')
    const $passwordInput = $('input[name=password]')
    const $passwordCheckInput = $('input[name=passwordCheck]')
    const $nameInput = $('input[name=name]')
    const $nicknameInput = $('input[name=nickname]')
    const $emailInput = $('input[name=email]')
    const $submitBtn = $('.submit-btn')
    const $cancelBtn = $('.cancel-btn')
    let isUsernameExists = false

    $signUpForm.on('submit', (e) => {
        e.preventDefault()
        if ($passwordInput.val() !== $passwordCheckInput.val()) {
            alert('비밀번호가 일치하지 않습니다.')
        } else {
            $.ajax({
                url: 'http://localhost:8080/api/member/sign/up',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    username: $usernameInput.val(),
                    password: $passwordInput.val(),
                    name: $nameInput.val(),
                    nickname: $nicknameInput.val(),
                    email: $emailInput.val()
                }),
                success: () => {
                    alert('회원가입 성공!')
                    location.href = '/member/sign/in'
                },
                error: (request, status, error) => {
                    // console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error)
                    if(request.status === 201) {
                        alert('회원가입 성공!')
                        location.href = '/member/sign/in'
                    } else {
                        alert('회원 가입 실패')
                    }
                }
            })
        }
    })
    $submitBtn.on('click', (e) => {
        const korReg = /^[가-힣]+$/
        e.preventDefault()
        if($usernameInput.val().length === 0) {
            alert('아이디가 입력되지 않았습니다.')
            $usernameInput.focus()
        } else if(isUsernameExists) {
            alert('이미 존재하는 아이디입니다.\n다른 아이디를 사용해주시기 바랍니다.')
            $usernameInput.focus()
        } else if($passwordInput.val().length === 0) {
            alert('비밀번호가 입력되지 않았습니다.')
            $passwordInput.focus()
        } else if($passwordCheckInput.val().length === 0) {
            alert('확인 비밀번호가 입력되지 않았습니다.')
            $passwordCheckInput.focus()
        } else if($passwordInput.val() !== $passwordCheckInput.val()) {
            alert('비밀번호가 일치하지 않습니다.')
        } else if($nameInput.val().length === 0) {
            alert('이름이 입력되지 않았습니다.')
            $nameInput.focus()
        } else if(!korReg.test($nameInput.val())) {
            alert('이름은 반드시 한글로 입력해주시기 바랍니다.')
            $nameInput.focus()
        } else if($nicknameInput.val().length === 0) {
            alert('사용할 닉네임이 입력되지 않았습니다.')
            $nicknameInput.focus()
        } else if($emailInput.val().length === 0) {
            alert('이메일이 입력되지 않았습니다.')
            $mobileInput.focus()
        } else {
          $signUpForm.submit()
        }
    })
    $cancelBtn.on('click', (e) => {
        e.preventDefault()
        location.href = '/'
    })
    $usernameInput.on('change', (e) => {
        e.preventDefault()
        $.ajax({
            url: `http://localhost:8080/api/member/check-username?username=${$usernameInput.val()}`,
            type: 'GET',
            contentType: 'application/json',
            success: (data) => {
                isUsernameExists = data.usernameExists
            },
            error: (request, status, error) => {
                console.log(request)
            }
        })
    })
</script>