<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나만의 일기 - 회원가입</title>
</head>
<body>

<section layout:fragment="content">
    <h2>회원가입</h2>
    <form action="/member/sign/up" method="post">
        <div>
            <input name="username" placeholder="아이디" type="text">
        </div>
        <div>
            <input name="password" placeholder="비밀번호" type="password">
        </div>
        <div>
            <input name="name" placeholder="이름" type="text">
        </div>
        <div>
            <input name="nickname" placeholder="닉네임" type="text">
        </div>
        <button>회원가입</button>
        <button>취소</button>
    </form>
</section>

</body>
</html>