<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.space.diary.mapper.diary.DiaryMapper">

    <resultMap id="BaseResultMap" type="Diary">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="writer_id" property="writerId"/>
        <result column="public_yn" property="publicYn"/>
        <result column="view_cnt" property="viewCnt"/>
        <result column="like_cnt" property="likeCnt"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <resultMap id="RelatedResultMap" type="Diary" extends="BaseResultMap">
        <association property="writer"
                     javaType="Member"
                     columnPrefix="m_"
                     resultMap="kr.co.space.diary.mapper.member.MemberMapper.BaseResultMap"/>
        <collection property="attachmentList"
                    javaType="java.util.List"
                    ofType="Attachment"
                    columnPrefix="a_"
                    resultMap="kr.co.space.diary.mapper.attachment.AttachmentMapper.BaseResultMap"/>
    </resultMap>

    <sql id="columns">
        ${alias}id AS ${prefix}id
        , ${alias}title AS ${prefix}title
        , ${alias}content AS ${prefix}content
        , ${alias}writer_id AS ${prefix}writer_id
        , ${alias}public_yn AS ${prefix}public_yn
        , ${alias}view_cnt AS ${prefix}view_cnt
        , ${alias}like_cnt AS ${prefix}like_cnt
        , ${alias}create_date AS ${prefix}create_date
        , ${alias}update_date AS ${prefix}update_date
    </sql>

    <select id="findCount" resultType="int">
        SELECT COUNT(*) FROM diary
    </select>

    <select id="findAll" parameterType="Diaries" resultMap="RelatedResultMap">
        SELECT
        <include refid="columns">
            <property name="alias" value="d."/>
            <property name="prefix" value=""/>
        </include>
        ,
        <include refid="kr.co.space.diary.mapper.member.MemberMapper.columns">
            <property name="alias" value="m."/>
            <property name="prefix" value="m_"/>
        </include>
        FROM diary AS d
        LEFT JOIN member AS m
            ON d.writer_id = m.id
        ORDER BY d.create_date DESC
        LIMIT #{offset}, ${limit}
    </select>


    <select id="findOne" parameterType="Diary" resultMap="RelatedResultMap">
        SELECT
        <include refid="columns">
            <property name="alias" value="d."/>
            <property name="prefix" value=""/>
        </include>
        ,
        <include refid="kr.co.space.diary.mapper.member.MemberMapper.columns">
            <property name="alias" value="m."/>
            <property name="prefix" value="m_"/>
        </include>
        ,
        <include refid="kr.co.space.diary.mapper.attachment.AttachmentMapper.columns">
            <property name="alias" value="a."/>
            <property name="prefix" value="a_"/>
        </include>
        FROM diary AS d
        LEFT JOIN member AS m
            ON d.writer_id = m.id
        LEFT JOIN attachment AS a
            ON d.id = a.diary_id
        <where>
            <if test="id != null and id != ''">
                d.id = #{id}
            </if>
        </where>
    </select>

    <insert id="create" parameterType="Diary">
        INSERT INTO
        diary (id, title, content, writer_id)
        VALUES (#{id}, #{title}, #{content}, #{writerId})
    </insert>

    <update id="modify" parameterType="Diary">
        UPDATE diary
        SET update_date = current_timestamp
        <if test="title != null and title != ''">
            , title = #{title}
        </if>
        <if test="content != null and content != ''">
            , content = #{content}
        </if>
        WHERE id = #{id}
    </update>

    <update id="increaseViewCnt" parameterType="Diary">
        UPDATE diary
        SET update_date = current_timestamp
        , view_cnt = view_cnt + 1
        WHERE id = #{id}
    </update>

    <update id="increaseLikeCnt" parameterType="Diary">
        UPDATE diary
        SET update_date = current_timestamp
        , like_cnt = like_cnt + 1
        WHERE id = #{id}
    </update>

    <delete id="remove" parameterType="Diary">
        DELETE FROM diary WHERE id = #{id}
    </delete>

</mapper>