<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>나만의 일기 - 비밀번호 변경</title>
</head>
<body>

<section layout:fragment="content">
  <div class="form-area">
    <p class="form-title">비밀번호 변경</p>
    <form class="change-password-form">
      <div class="input-area">
        <input name="password" placeholder="기존 비밀번호를 입력하세요." type="password"/>
      </div>
      <div class="input-area">
        <input name="toChangePassword" placeholder="변경할 비밀번호를 입력하세요." type="password"/>
      </div>
      <div class="input-area">
        <input name="toMatchPassword" placeholder="변경할 비밀번호 확인" type="password"/>
      </div>
      <div class="button-area">
        <button class="submit-btn">변경하기</button>
        <button class="cancel-btn">취소하기</button>
      </div>
    </form>
  </div>
</section>

</body>
</html>

<script>
    const $changePasswordForm = $('.change-password-form')
    const $passwordInput = $('input[name=password]')
    const $toChangePassword = $('input[name=toChangePassword]')
    const $toMatchPassword = $('input[name=toMatchPassword]')
    const $submitBtn = $('.submit-btn')
    const $cancelBtn = $('.cancel-btn')
    let memberId

    $.ajax({
        url: 'http://localhost:8080/api/member/me/',
        type: 'GET',
        contentType: 'application/json',
        success: (data) => {
            memberId = data.id
        },
        error: () => {
            // TODO error 처리
        }
    })

    $changePasswordForm.on('submit', (e) => {
        e.preventDefault()
        if ($toChangePassword.val() === $toMatchPassword.val()) {
            $.ajax({
                url: `http://localhost:8080/api/member/change-password/${memberId}`,
                type: 'PUT',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    password: $passwordInput.val(),
                    toChangePassword: $toChangePassword.val()
                }),
                success: () => {
                    alert('비밀번호 변경 성공')
                    location.href = '/member/profile'
                },
                error: () => {
                    alert('현재 비밀번호가 일치하지 않습니다.')
                    $passwordInput.focus()
                }
            })
        } else {
            alert('새로운 비밀번호가 일치하지 않습니다.')
            $toChangePassword.focus()
        }
    })
    $submitBtn.on('click', (e) => {
        e.preventDefault()
        $changePasswordForm.submit()
    })
    $cancelBtn.on('click', (e) => {
        e.preventDefault()
        location.href = '/'
    })
</script>