<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/anonymous_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>나만의 일기 - 비밀번호 찾기</title>
</head>
<body>

<section layout:fragment="content">
  <div class="form-area">
    <p class="form-title">나만의 일기</p>
    <form class="init-password-form">
      <div class="input-area">
        <input name="username" placeholder="아이디를 입력하세요." type="text">
      </div>
      <div class="input-area">
        <input name="email" placeholder="이메일을 입력하세요" type="text">
      </div>
      <div class="button-area">
        <button class="submit-btn">비밀번호 찾기</button>
      </div>
      <ul class="link-area">
        <li>
          <a href="/member/sign/in">로그인</a>
        </li>
        <li>
          <a href="/member/find-username">아이디 찾기</a>
        </li>
      </ul>
    </form>
  </div>
</section>

</body>
</html>

<script>
  const $initPasswordForm = $('.init-password-form')
  const $usernameInput = $('input[name=username]')
  const $emailInput = $('input[name=email]')
  const $submitBtn = $('.submit-btn')

  $initPasswordForm.on('submit', (e) => {
      e.preventDefault()
      $.ajax({
          url: 'http://localhost:8080/api/member/init-password',
          type: 'PUT',
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify({
              username: $usernameInput.val(),
              email: $emailInput.val()
          }),
          success: () => {
              alert('가입할 때 사용된 이메일로 임시 비밀번호를 발급하였습니다.\n빠른 시일내에 새로운 비밀번호로 변경해주시기 바랍니다.')
              location.href = '/member/sign/in'
          },
          error: (request, status, error) => {
              console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error)
              alert('아이디 또는 이메일이 일치하지 않습니다.')
          }
      })
  })
  $submitBtn.on('click', (e) => {
      e.preventDefault()
      if($usernameInput.val().length === 0) {
          alert('아이디가 입력되지 않았습니다.')
          $usernameInput.focus()
      }
      else if($emailInput.val().length === 0) {
          alert('이메일이 입력되지 않았습니다.')
          $emailInput.focus()
      }
      else {
          $initPasswordForm.submit()
      }
  })
</script>