<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>나만의 일기 - 프로필</title>
</head>
<body>

<section layout:fragment="content">
  <div class="profile-area">
    <p class="profile-title">프로필</p>
    <div class="profile-inner">
      <img class="profile-icon" th:src="@{/img/profile/profile-icon.png}">
      <div class="profile-detail">
        <p class="profile-name"></p>
        <p class="profile-email"></p>
      </div>
    </div>
    <div class="button-area">
      <button class="modify-btn">정보 수정</button>
      <button class="change-password-btn">비밀번호 변경</button>
      <button class="resign-btn">계정 탈퇴</button>
    </div>
  </div>
</section>

</body>
</html>

<script th:inline="javascript">
    const $modifyBtn = $('.modify-btn')
    const $changePwBtn = $('.change-password-btn')
    const $resignBtn = $('.resign-btn')
    let memberId

    $.ajax({
        url: 'http://localhost:8080/api/member/me',
        type: 'GET',
        contentType: 'application/json',
        success: (data) => {
            memberId = data.id
            $('.profile-name').text(`${data.name}(${data.nickname})`)
            $('.profile-email').text(data.email)
        },
        error: () => {
            console.log('fail to load')
            // TODO 회원 정보 없을 때의 처리
            location.href = '/'
        }
    })

    $modifyBtn.on('click', (e) => {
        e.preventDefault()
        location.href = '/member/modify'
    })
    $changePwBtn.on('click', (e) => {
        e.preventDefault()
        location.href = '/member/change-password'
    })
    $resignBtn.on('click', (e) => {
        e.preventDefault()
        if (confirm('정말 계정을 탈퇴하시겠습니까?')) {
            $.ajax({
                url: `http://localhost:8080/api/member/${memberId}`,
                type: 'DELETE',
                success: () => {
                    alert('계정 탈퇴 처리 성공!')
                    location.href = '/member/logout'
                },
                error: () => {
                    alert('계정 탈퇴 처리 실패\n관리자에게 문의해 주세요.')
                }
            })
        } else {
            alert('계정 탈퇴 처리 취소')
        }
    })
</script>