<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="headerFragment">
    <p class="logo">나만의 일기</p>
    <nav class="bottom-menu">
        <ul>
            <li>
                <a href="/">홈</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a href="/member/sign/in">로그인</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a href="/member/sign/up">회원가입</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/diary/list">
                    <p>일기 목록</p>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/member/profile">
                    <p sec:authentication="principal.member.name"></p>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/member/logout">
                    <p>로그아웃</p>
                </a>
            </li>
        </ul>
    </nav>
</div>
</html>