* {
    box-sizing: border-box;
}
.container {
    background-color: #fff;
    max-width: 1200px;
    margin: 70px auto;
    border-radius: 10px;
    box-shadow: 0 0 30px -10px #000;
}
.header {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.header .logo {
    height: 80px;
    padding: 0 40px;
    line-height: 60px;
    font-size: 26px;
    font-weight: bold;
}
.header .bottom-menu {
    height: 40px;
    text-align: right;
    line-height: 40px;
}
.header .bottom-menu li {
    display: inline;
    margin: 0 20px;
}
.header .bottom-menu li a:hover {
    text-decoration: underline;
}
.footer {
    width: 70%;
    margin: 0 auto;
    height: 100px;
    display: flex;
}
.footer .main {
    height: 100px;
    line-height: 100px;
    padding: 0 50px;
    font-size: 20px;
    font-weight: bold;
}
.footer .sub {
    height: 80px;
    padding: 0 20px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid black;
}
.footer .sub li {
    margin: 6px 0;
}
section {
    padding: 20px;
    background-color: #eee;
}
.greeting {
    margin: 150px auto;
    text-align: center;
}
.greeting p {
    margin: 40px;
    font-size: 20px;
    font-style: italic;
}
 /*global form style*/
.form-area {

}
.form-area .form-title {
    font-size: 24px;
    font-weight: bold;
    padding: 30px 50px;
}
.form-area form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.form-area form .input-area {
    padding: 10px;
}
.form-area form .input-area input {
    padding: 10px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.form-area form .input-area input:focus {
    outline: none;
}
.form-area form .text-area {
    padding: 10px;
}
.form-area form .text-area textarea {
    width: 80%;
    height: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.form-area form .text-area textarea:focus {
    outline: none;
}
.form-area form .upload-area {
    padding: 20px;
}
.form-area form .upload-area input[type=file] {
    display: none;
}
.form-area form .upload-area label {
    background-color: #ff8027;
    color: #fff;
    padding: 6px 10px;
}
.form-area form .upload-area label:hover {
    cursor: pointer;
}
.form-area form .upload-area .upload-file-names {
    margin-top: 30px;
    padding: 0 20px;
}
.form-area form .upload-area .upload-file-names li {
    margin: 10px 0;
}
/*profile style*/
.profile-area {
    padding: 20px;
}
.profile-area .profile-title {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
}
.profile-area .profile-inner {
    display: flex;
    flex-direction: row;
}
.profile-area .profile-inner .profile-icon {
    width: 20%;
}
.profile-area .profile-inner .profile-detail {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-area .profile-inner .profile-detail p {
    margin: 20px;
}
.profile-area .profile-inner .profile-detail p:first-child {
    font-size: 20px;
    font-weight: bold;
}
/*모든 버튼 영역 스타일*/
.button-area {
    padding: 10px;
    text-align: right;
}
.button-area button {
    padding: 6px 10px;
    background-color: #ff8027;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
}
.diary-list-area {
    padding: 20px;
}
.diary-list-area .diary-list-title {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
}
.diary-list-area .diary-list-table {
    width: 100%;
    margin: 20px 0;
}
.diary-list-area .diary-list-table thead tr th {
    font-weight: bold;
    padding: 14px;
    border: 2px solid #ff8027;
}
.diary-list-area .diary-list-table tbody tr td {
    padding: 10px;
    text-align: center;
    border: 2px solid #ff8027;
}
.diary-list-area .diary-list-table thead tr th:first-child {
    width: 60%;
}
.diary-list-area .diary-list-table thead tr th:nth-child(2) {
    width: 20%;
}
.diary-list-area .diary-list-table thead tr th:nth-child(3), .diary-list-area .diary-list-table thead tr th:nth-child(4) {
     width: 10%;
 }
.diary-list-area .paging-area {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.diary-list-area .paging-numbers {
    display: flex;
    flex-direction: row;
}
.diary-list-area .paging-numbers li {
    margin: 0 10px;
}
.diary-list-area .paging-area .paging-numbers li:hover {
    cursor: pointer;
}
.diary-list-area .prev-btn span:hover, .diary-list-area .next-btn span:hover {
    cursor: pointer;
}