.container {
    background-color: #fff;
    max-width: 1200px;
    margin: 70px auto;
    border-radius: 10px;
    box-shadow: 0 0 30px -10px #000;
}
.header {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.header .logo {
    height: 80px;
    padding: 0 40px;
    line-height: 60px;
    font-size: 26px;
    font-weight: bold;
}
.header .bottom-menu {
    height: 40px;
    text-align: right;
    line-height: 40px;
}
.header .bottom-menu li {
    display: inline;
    margin: 0 20px;
}
.header .bottom-menu li a:hover {
    text-decoration: underline;
}
.footer {
    width: 70%;
    margin: 0 auto;
    height: 100px;
    display: flex;
}
.footer .main {
    height: 100px;
    line-height: 100px;
    padding: 0 50px;
    font-size: 20px;
    font-weight: bold;
}
.footer .sub {
    height: 80px;
    padding: 0 20px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid black;
}
.footer .sub li {
    margin: 6px 0;
}
section {
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.greeting {
    margin: 150px auto;
    text-align: center;
}
.greeting p {
    margin: 40px;
    font-size: 20px;
    font-style: italic;
}
 /*global form style*/
.form-area {
    border: 1px solid red;
}
.form-area .form-title {
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
    text-align: center;
    border: 1px solid black;
}
.form-area form {
    border: 1px solid blue;
}
/*profile style*/
.profile-area {
    padding: 20px;
}
.profile-area .profile-title {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
}
.profile-area .profile-inner {
    display: flex;
    flex-direction: row;
}
.profile-area .profile-inner .profile-icon {
    width: 20%;
}
.profile-area .profile-inner .profile-detail {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-area .profile-inner .profile-detail p {
    margin: 20px;
}
.profile-area .profile-inner .profile-detail p:first-child {
    font-size: 20px;
    font-weight: bold;
}
.profile-area .button-area {
    padding: 10px;
    text-align: right;
}
.profile-area .button-area button {
    padding: 6px 10px;
    background-color: #ff8027;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
}