.container {
    background-color: #fff;
    max-width: 1200px;
    margin: 70px auto;
    border-radius: 10px;
    box-shadow: 0 0 30px -10px #000;
}
.header {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.header .logo {
    height: 80px;
    padding: 0 40px;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
}
.header .bottom-menu {
    height: 40px;
    text-align: right;
    line-height: 40px;
}
.header .bottom-menu li {
    display: inline;
    margin: 0 20px;
}
.footer {
    width: 70%;
    margin: 0 auto;
    height: 100px;
    display: flex;
}
.footer .main {
    height: 100px;
    line-height: 100px;
    padding: 0 50px;
    font-size: 20px;
    font-weight: bold;
}
.footer .sub {
    height: 80px;
    padding: 0 20px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid black;
}
.footer .sub li {
    margin: 6px 0;
}
section {
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.greeting {
    margin: 50px auto;
    text-align: center;
}
.greeting p {
    margin: 40px;
    font-size: 20px;
    font-style: italic;
}