<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나만의 일기 - 일기 목록</title>
</head>
<body>

<section layout:fragment="content">
    <div class="diary-list-area">
        <p class="diary-list-title">일기 목록</p>
        <table class="diary-list-table">
            <thead>
            <tr>
                <th>제 목</th>
                <th>작성자</th>
                <th>작성일자</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody class="diary-list">
            </tbody>
        </table>
        <div class="paging-area">
            <div class="prev-btn"></div>
            <ul class="paging-numbers">
            </ul>
            <div class="next-btn"></div>
        </div>
        <div class="button-area">
            <button class="write-btn">글 쓰기</button>
        </div>
    </div>
</section>

</body>
</html>

<script th:inline="javascript">
    const $writeBtn = $('.write-btn')
    const $diaryList = $('.diary-list')
    const $prevBtn = $('.prev-btn')
    const $nextBtn = $('.next-btn')
    const $pagingNumbers = $('.paging-numbers')

    $.ajax({
        url: 'http://localhost:8080/api/diary/list?pageNum=1&limit=10',
        type: 'GET',
        contentType: 'application/json',
        success: (data) => {
            paging(data)
            for(let i = 1; i <= Math.ceil(data.totalCnt / data.limit); i++) {
                const $li = $(`<li><span>${i}</span></li>`)
                $li.on('click', (e) => {
                    e.preventDefault()
                    $.ajax({
                        url: `http://localhost:8080/api/diary/list?pageNum=${e.target.innerText}&limit=10`,
                        type: 'GET',
                        contentType: 'application/json',
                        success: (data) => {
                            $diaryList.children().remove()
                            paging(data)
                        },
                        error: () => {
                            location.href = '/'
                        }
                    })
                })
                $pagingNumbers.append($li)
            }
        },
        error: () => {
            location.href = '/'
        }
    })

    const paging = (data) => {
        const curPageNum = data.pageNum
        const lastPageNum = Math.ceil(data.totalCnt / data.limit)
        const $goPrevBtn = $(`<span>prev</span>`)
        $goPrevBtn.on('click', (e) => {
            e.preventDefault()
            $.ajax({
                url: 'http://localhost:8080/api/diary/list?pageNum=1&limit=10',
                type: 'GET',
                contentType: 'application/json',
                success: (data) => {
                    $diaryList.children().remove()
                    paging(data)
                },
                error: () => {
                    // TODO 에러 처리
                }
            })
        })
        const $goNextBtn = $(`<span>next</span>`)
        $goNextBtn.on('click', (e) => {
            e.preventDefault()
            $.ajax({
                url: `http://localhost:8080/api/diary/list?pageNum=${lastPageNum}&limit=10`,
                type: 'GET',
                contentType: 'application/json',
                success: (data) => {
                    $diaryList.children().remove()
                    paging(data)
                },
                error: () => {
                    // TODO 에러 처리
                }
            })
        })
        // next-btn 조건문 (코드 정리 필요)
        if(curPageNum === lastPageNum) {
            $nextBtn.children().remove()
        } else {
            if($nextBtn.children().length === 0) $nextBtn.append($goNextBtn)
        }
        // prev-btn 조건문 (코드 정리 필요)
        if(curPageNum !== 1) {
            if($prevBtn.children().length === 0) $prevBtn.append($goPrevBtn)
        } else {
            $prevBtn.children().remove()
        }
        addTableRow(data)
    }

    const addTableRow = (data) => {
        data.diaryList.forEach((diary, index) => {
            const date = new Date(diary.createDate)
            const year = date.getFullYear()
            const month = String(date.getMonth() + 1).padStart(2, '0')
            const day = String(date.getDate()).padStart(2, '0')
            const formatDate = `${year}-${month}-${day}`
            $diaryList.append(
                `<tr>
                   <td><a href="/diary?id=${diary.id}">${diary.title}</a></td>
                   <td>${diary.writer.nickname}</td>
                   <td>${formatDate}</td>
                   <td>${diary.viewCnt}</td>
                 </tr>`
            )
        })
    }

    $writeBtn.on('click', (e) => {
        e.preventDefault()
        location.href = '/diary/write'
    })
</script>