<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나만의 일기 - 일기 목록</title>
</head>
<body>

<section layout:fragment="content">
    <h2>일기 목록</h2>
    <button class="write-btn">글 쓰기</button>
    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        <tr th:each="diary, index : ${list}">
            <td th:text="${index.count}"></td>
            <td>
                <a th:href="@{/diary/{id}(id=${diary.id})}">
                    <p th:text="${diary.title}"></p>
                </a>
            </td>
            <td>
                <p th:text="${diary.writer.name}"></p>
            </td>
        </tr>
    </table>
</section>

</body>
</html>

<script th:inline="javascript">
    const writeBtn = document.querySelector('.write-btn')

    writeBtn.addEventListener('click', (e) => {
        e.preventDefault()
        location.href = '/diary/write'
    })
</script>