<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나만의 일기 - 일기 목록</title>
</head>
<body>

<section layout:fragment="content">
    <h2>일기 목록</h2>
    <button class="write-btn">글 쓰기</button>
    <table>
        <thead>
        <tr>
            <th>글 번호</th>
            <th>제 목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>좋아요</th>
        </tr>
        </thead>
        <tbody class="diary-list">
        </tbody>
    </table>
    <div class="paging-area">
        <span>prev</span>
        <ul class="paging-numbers">
        </ul>
        <span>next</span>
    </div>
</section>

</body>
</html>

<script th:inline="javascript">
    const $writeBtn = $('.write-btn')
    const $pagingNumbers = $('.paging-numbers')

    $.ajax({
        url: 'http://localhost:8080/api/diary/list?pageNum=1&limit=10',
        type: 'GET',
        contentType: 'application/json',
        success: (data) => {
            data.diaryList.forEach((diary, index) => {
                $('.diary-list').append(
                    `<tr>
                   <td>${index + 1}</td>
                   <td><a href="/diary?id=${diary.id}">${diary.title}</a></td>
                   <td>${diary.writer.nickname}</td>
                   <td>${diary.viewCnt}</td>
                   <td>${diary.likeCnt}</td>
                 </tr>`
                )
            })
            for(let i = 1; i <= Math.ceil(data.totalCnt / data.limit); i++) {
                const $li = $(`<li><span>${i}</span></li>`)
                $li.on('click', (e) => {
                    e.preventDefault()
                    $.ajax({
                        url: `http://localhost:8080/api/diary/list?pageNum=${e.target.innerText}&limit=10`,
                        type: 'GET',
                        contentType: 'application/json',
                        success: (data) => {
                            $('.diary-list').children().remove()
                            data.diaryList.forEach((diary, index) => {
                                $('.diary-list').append(
                                    `<tr>
                                       <td>${index + 1}</td>
                                       <td><a href="/diary?id=${diary.id}">${diary.title}</a></td>
                                       <td>${diary.writer.nickname}</td>
                                       <td>${diary.viewCnt}</td>
                                       <td>${diary.likeCnt}</td>
                                     </tr>`
                                )
                            })
                        },
                        error: () => {
                            location.href = '/'
                        }
                    })
                })
                $pagingNumbers.append($li)
            }
        },
        error: () => {
            location.href = '/'
        }
    })

    $writeBtn.on('click', (e) => {
        e.preventDefault()
        location.href = '/diary/write'
    })
</script>