<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나만의 일기 - 일기</title>
    <script th:inline="javascript">
        const member = [[${member}]]
        const diary = [[${diary}]]

        const memberId = member.id
        const diaryWriterId = diary.writer.id

        if(memberId !== diaryWriterId) {
            alert('작성자만 확인할 수 있는 글입니다.')
            location.href = '/diary'
        }
    </script>
</head>
<body>

<section layout:fragment="content">
    각 일기 확인 페이지
    <p th:text="${diary.title}"></p>
</section>

</body>
</html>