<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나만의 일기 - 일기</title>
</head>
<body>

<section layout:fragment="content">
    <div class="form-area">
        <p class="form-title">일기 수정하기</p>
        <form class="modify-form">
            <div class="input-area">
                <input name="title" placeholder="제목" type="text">
            </div>
            <div class="text-area">
                <textarea name="content" placeholder="내용을 입력하세요.."></textarea>
            </div>
            <div class="upload-area">
                <label class="uploadFiles-label" for="uploadFiles">파일 첨부</label>
                <input id="uploadFiles" multiple="multiple" name="uploadFiles" type="file"/>
                <div class="uploaded-file-area">
                    <p class="uploaded-file-title">첨부 파일</p>
                    <ul class="upload-file-names">
                    </ul>
                </div>
            </div>
            <div class="button-area">
                <button class="submit-btn">저장하기</button>
                <button class="remove-btn">삭제하기</button>
                <button class="cancel-btn">취소하기</button>
            </div>
        </form>
    </div>
</section>

</body>
</html>

<script th:inline="javascript">
    const searchParams = new URLSearchParams(location.search)
    const member = [[${#authentication.principal.member}]]
    const diaryId = searchParams.get('id')
    const $modifyForm = $('.modify-form')
    const $titleInput = $('input[name=title]')
    const $contentTextarea = $('textarea[name=content]')
    const $uploadFilesLabel = $('.uploadFiles-label')
    const $uploadFiles = $('input[name=uploadFiles]')
    const $uploadFileNames = $('.upload-file-names')
    const $submitBtn = $('.submit-btn')
    const $removeBtn = $('.remove-btn')
    const $cancelBtn = $('.cancel-btn')

    $.ajax({
        url: `http://localhost:8080/api/diary/${diaryId}`,
        type: 'GET',
        contentType: 'application/json',
        success: (data) => {
            const isWriter = data.writerId === member.id
            if(!isWriter) {
                // 본인이 작성한 글이 아닌 경우 처리
                $titleInput.prop('readonly', true)
                $contentTextarea.prop('readonly', true)
                $uploadFilesLabel.css('display', 'none')
                $submitBtn.css('display', 'none')
                $removeBtn.css('display', 'none')
                $cancelBtn.css('display', 'none')
            }
            $.ajax({
                url: `http://localhost:8080/api/diary/increase-view-cnt/${diaryId}`,
                type: 'PUT',
                contentType: 'application/json',
                success: () => {
                    console.log('success to increase')
                },
                error: () => {
                    console.log('fail to increase')
                }
            })
            $titleInput.val(data.title)
            $contentTextarea.val(data.content)
            if(data.attachmentList.length > 0) {
                data.attachmentList.forEach((attachment) => {
                    const $li = $(`<li><span>${attachment.fileName}</span></li>`)
                    $li.on('click', (e) => {
                        e.preventDefault()
                        location.href = `http://localhost:8080/api/attachment/${data.id}/${attachment.fileName}`
                    })
                    $uploadFileNames.append($li)
                })
            } else {
                $('.uploaded-file-area').css('display', 'none')
            }
        },
        error: () => {
            alert('해당 일기를 찾을 수 없습니다.')
            location.href = '/diary/list'
        }
    })

    $modifyForm.on('submit', (e) => {
        e.preventDefault()
        const formData = new FormData()
        const data = {
            id: diaryId,
            title: $titleInput.val(),
            content: $contentTextarea.val()
        }
        formData.append('diary', new Blob([JSON.stringify(data)], { type: 'application/json' }))
        Array.from($uploadFiles[0].files).forEach((file) => {
            formData.append('uploadFiles', file)
        })
        $.ajax({
            url: `http://localhost:8080/api/diary/${diaryId}`,
            type: 'PUT',
            contentType: false,
            processData: false,
            cache: false,
            encType: 'multipart/form-data',
            dataType: 'json',
            data: formData,
            success: (res) => {
                alert('일기 수정 성공')
                console.log(res)
                location.href = '/diary/list'
            },
            error: (request, status, error) => {
                alert('일기 수정 실패')
                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error)
                // location.href = `/diary/${diary.id}`
            }
        })
    })
    $submitBtn.on('click', (e) => {
        e.preventDefault()
        $modifyForm.submit()
    })
    $cancelBtn.on('click', (e) => {
        e.preventDefault()
        location.href = '/diary/list'
    })
    $uploadFiles.on('change', (e) => {
        e.preventDefault()
        const files = $uploadFiles[0].files
        $uploadFileNames.children().remove()
        Array.from(files).forEach((file) => {
            $uploadFileNames.append(`<li>${file.name}</li>`)
        })
    })
    $removeBtn.on('click', (e) => {
        e.preventDefault()
        if(confirm('정말 삭제하시겠습니까?')) {
            $.ajax({
                url: `http://localhost:8080/diary/${diary.id}`,
                type: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                success: (result) => {
                    alert('일기 삭제 성공!')
                    location.href = '/diary?pageNum=1&limit=10'
                },
                error: (error) => {
                    alert('일기 삭제 실패')
                }
            })
        } else {
            alert('삭제를 취소하였습니다.')
        }
    })
</script>
