<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나만의 일기 - 일기</title>
</head>
<body>

<section layout:fragment="content">
    <h2 class="diary-title"></h2>
    <p class="diary-content"></p>
    <ul>
        <li class="diary-upload-files">
        </li>
    </ul>
    <button class="modify-btn">수정하기</button>
    <button class="remove-btn">삭제하기</button>
</section>

</body>
</html>

<script th:inline="javascript">
    const searchParams = new URLSearchParams(location.search)
    const diaryId = searchParams.get('id')

    $.ajax({
        url: `http://localhost:8080/api/diary/${diaryId}`,
        type: 'GET',
        contentType: 'application/json',
        success: (data) => {
            data.attachmentList.forEach((attachment) => {
                $('.diary-upload-files').append(`<img src="/img/${attachment.diaryId}/${attachment.fileName}" alt="${attachment.fileName}" style="width: 200px; height: 200px;"/>`)
            })
            $('.diary-title').text(data.title)
            $('.diary-content').text(data.content)
        },
        error: () => {
            location.href = '/diary/list'
        }
    })

    $('.modify-btn').on('click', (e) => {
        e.preventDefault()
        location.href = `/diary/modify/${diary.id}`
    })
    $('.remove-btn').on('click', (e) => {
        e.preventDefault()
        $.ajax({
            url: `http://localhost:8080/diary/${diary.id}`,
            type: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            success: (result) => {
                alert('일기 삭제 성공!')
                location.href = '/diary?pageNum=1&limit=10'
            },
            error: (error) => {
                alert('일기 삭제 실패')
            }
        })
    })
</script>