<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나만의 일기 - 일기 작성</title>
</head>
<body>

<section layout:fragment="content">
    <h2>일기를 작성하세요</h2>
    <form action="/diary/write" method="post">
        <input name="writer.id" th:value="${member.id}" type="hidden">
        <div>
            <input name="title" placeholder="제목" type="text">
        </div>
        <div>
            <textarea name="content" placeholder="내용을 입력하세요.."></textarea>
        </div>
        <button>저장하기</button>
    </form>
</section>

</body>
</html>