<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>나만의 일기 - 일기 작성</title>
</head>
<body>

<section layout:fragment="content">
  <div class="form-area">
    <p class="form-title">일기 작성</p>
    <form class="write-form">
      <div class="input-area">
        <input name="title" placeholder="제목" type="text">
      </div>
      <div class="text-area">
        <textarea name="content" placeholder="내용을 입력해보세요!"></textarea>
      </div>
      <div class="upload-area">
        <label for="uploadFiles">파일 첨부</label>
        <input id="uploadFiles" multiple="multiple" name="uploadFiles" type="file">
        <ul class="upload-file-names"></ul>
      </div>
      <div class="button-area">
        <button class="submit-btn">저장하기</button>
        <button class="cancel-btn">작성취소</button>
      </div>
    </form>
  </div>
</section>

</body>
</html>

<script th:inline="javascript">
    const $writeForm = $('.write-form')
    const $titleInput = $('input[name=title]')
    const $contentTextarea = $('textarea[name=content]')
    const $uploadFiles = $('input[name=uploadFiles]')
    const $uploadFileNames = $('.upload-file-names')
    const $submitBtn = $('.submit-btn')
    const $cancelBtn = $('.cancel-btn')
    let user = {}

    $.ajax({
        url: 'http://localhost:8080/api/member/me',
        type: 'GET',
        contentType: 'application/json',
        success: (data) => {
            user = data
        },
        error: () => {
            alert('로그인을 한 상태에서만 이용할 수 있습니다.')
            location.href = '/member/sign/in'
        }
    })
    $writeForm.on('submit', (e) => {
        e.preventDefault()
        const formData = new FormData()
        const data = {
            title: $titleInput.val(),
            content: $contentTextarea.val(),
            writerId: user.id
        }
        formData.append('diary', new Blob([JSON.stringify(data)], {type: 'application/json'}))
        Array.from($uploadFiles[0].files).forEach((file) => {
            formData.append('uploadFiles', file)
        })
        $.ajax({
            url: 'http://localhost:8080/api/diary/write',
            type: 'POST',
            contentType: false,
            processData: false,
            cache: false,
            encType: 'multipart/form-data',
            dataType: 'json',
            data: formData,
            success: () => {
                alert('일기 저장 성공')
                location.href = '/diary/list'
            },
            error: (request, status, error) => {
                if (request.status === 201) {
                    alert('일기 저장 성공')
                    location.href = '/diary/list'
                } else {
                    alert('일기 저장 실패')
                }
            }
        })
    })
    $submitBtn.on('click', (e) => {
        e.preventDefault()
        $writeForm.submit()
    })
    $cancelBtn.on('click', (e) => {
        e.preventDefault()
        location.href = '/diary/list'
    })
    $uploadFiles.on('change', (e) => {
        e.preventDefault()
        const files = $uploadFiles[0].files
        $uploadFileNames.children().remove()
        Array.from(files).forEach((file) => {
            $uploadFileNames.append(`<li>${file.name}</li>`)
        })
    })
</script>