<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.space.diary.mapper.member.MemberMapper">

    <resultMap id="BaseResultMap" type="Member">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="nickname" property="nickname"/>
        <result column="mobile" property="mobile"/>
        <result column="role" property="role"/>
        <result column="resign_yn" property="resignYn"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <sql id="columns">
        ${alias}id AS ${prefix}id
        , ${alias}username AS ${prefix}username
        , ${alias}password AS ${prefix}password
        , ${alias}`name` AS `${prefix}name`
        , ${alias}nickname AS ${prefix}nickname
        , ${alias}mobile AS ${prefix}mobile
        , ${alias}`role` AS `${prefix}role`
        , ${alias}resign_yn AS ${prefix}resign_yn
        , ${alias}create_date AS ${prefix}create_date
        , ${alias}update_date AS ${prefix}update_date
    </sql>

    <select id="findAll" parameterType="Member" resultMap="BaseResultMap">
        SELECT
        <include refid="columns">
            <property name="alias" value=""/>
            <property name="prefix" value=""/>
        </include>
        FROM member
    </select>

    <select id="findOne" parameterType="Member" resultMap="BaseResultMap">
        SELECT
        <include refid="columns">
            <property name="alias" value=""/>
            <property name="prefix" value=""/>
        </include>
        FROM member
        <where>
            resign_yn = 'n'
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
            <if test="name != null and name != ''">
                AND `name` = #{name}
            </if>
            <if test="mobile != null and mobile != ''">
                AND mobile = #{mobile}
            </if>
        </where>
    </select>

    <insert id="create" parameterType="Member">
        INSERT INTO
        member (id, username, password, name, nickname, mobile, role)
        VALUES (#{id}, #{username}, #{password}, #{name}, #{nickname}, #{mobile}, #{role})
    </insert>

    <update id="modify" parameterType="Member">
        UPDATE member
        SET update_date = current_timestamp
        <if test="username != null and username != ''">
            , username = #{username}
        </if>
        <if test="toChangePassword != null and toChangePassword != ''">
            , password = #{toChangePassword}
        </if>
        <if test="name != null and name != ''">
            , name = #{name}
        </if>
        <if test="nickname != null and nickname != ''">
            , nickname = #{nickname}
        </if>
        <if test="mobile != null and mobile != ''">
            , mobile = #{mobile}
        </if>
        <if test="role != null and role != ''">
            , role = #{role}
        </if>
        <if test="resignYn != null and resignYn != ''">
            , resign_yn = #{resignYn}
        </if>
        WHERE id = #{id}
    </update>

</mapper>